{% extends 'base.html' %}

{% block content %}

{% for subtitle, rows in pages %}

<H5>{{ subtitle }}</H5>
<div class="rows">
    {% for (title, caption, plot, colClass) in rows %}
    <div class="row">
        <div class="{{ colClass }}">
            <h6 class="subtitle padded">{{ title }}</h6>
            {% if caption != None %}
            <div style="color:#7a7a7a">
                <p>{{ caption }}</p>
            </div>
            {% endif %}
            {{ plot }}
        </div>
        {% endfor %}
    </div>

</div>
{% endfor %}
{% endblock content %}